// Font
$font-normal: normal 400 1.4rem "Work Sans", sans-serif;
$font-semi-bold: normal 600 1.6rem "Work Sans", sans-serif;
$font-bold: normal 700 1.6rem "Work Sans", sans-serif;
$font-title-bold: normal 700 3rem "Work Sans", sans-serif;
$font-title-normal: normal 600 1.6rem "Work Sans", sans-serif;
$font-body-normal: normal 600 1.8rem "Work Sans", sans-serif;

// Colors
$white: hsl(0, 0%, 100%);
$lightPink: hsl(275, 100%, 97%);
$grayishPurple: hsl(292, 16%, 49%);
$darkPurple: hsl(292, 42%, 14%);
$pink: #a843b8;
