@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

@import "_variables";

@import "_mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: 0;
}

button {
  font: unset;
  outline: none;
  padding: 1.5rem 0;
  margin: 0;
  background-color: inherit;
  border: 0;
  white-space: normal;
  text-align: left;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: $lightPink;
}

.faq-background {
  width: 100%;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
}

.card {
  position: absolute;
  max-width: 54rem;
  width: 100%;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  background: #fff;
  padding: 2.5rem;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

  .card__header {
    @include flexCenter(flex-start);
    margin-bottom: 1rem;

    .card__title {
      margin-left: 2rem;
      font: $font-title-bold;
      font-size: 3rem;
      color: $darkPurple;
    }

    #star-icon {
      width: 3rem;
      position: relative;
      top: 0.125em;
    }
  }
}

.card__question {
  @include flexCenter(space-between);

  min-height: 5rem;

  font: $font-title-normal;
  color: $darkPurple;
  padding: 1rem 0;
  overflow: hidden;
  border-bottom: 1px solid $lightPink;

  button:hover {
    color: $pink;
    cursor: pointer;
  }
}

.card__question {
  min-height: 35px;
}

.card__answer {
  height: 0;
  text-align: left;
  font-size: 1.6rem;
  color: $grayishPurple;
  font: $font-normal;
  line-height: 1.5;
  overflow: hidden;
  transition: all 0.3s linear;
  text-align: left;
}

.card__answer:not([aria-hidden="true"]) {
  height: fit-content;
  padding: 1rem 0;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
  margin: 1rem 0;
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
